.work-in-prog {
  display: flex;
  flex-direction: column;

  h1 {
    @media screen and (min-width: 1080px) {
      font-size: 5.653rem;
    }
    font-size: 2rem;
    margin-left: 5%;
  }
  .soon-section {
    @media screen and (min-width: 1080px) {
      border: var(--basic-border);
      border-radius: var(--basic-border-radius);
      display: flex;
      margin: auto;
      flex-direction: column;
      max-width: 50%;
      padding: 4%;
      margin-bottom: 7%;
      margin-top: 5%;
      justify-content: center;
    }
    border: var(--basic-border);
    border-radius: var(--basic-border-radius);
    display: flex;
    margin: auto;
    flex-direction: column;
    max-width: 50%;
    padding: 0%;
    margin-bottom: 7%;
    margin-top: 5%;
    justify-content: center;

    h2 {
      @media screen and (min-width: 1080px) {
        font-size: 5rem;
        padding: 0%;
        margin-left: 0%;
      }
      font-size: 1.5rem;
      padding: 10%;
      margin-left: 10%;
    }

    .button-soon {
      @media screen and (min-width: 1080px) {
        display: flex;
        justify-content: center;
        margin: auto;
        background-color: var(--accent-hotpink);
        border-radius: var(--basic-border-radius);
        min-width: 35%;
        height: 3.5rem;
        color: var(--main-font);
        font-family: var(--font-copy);
        font-weight: bold;
        text-transform: uppercase;
        padding: 2%;
        margin-bottom: 0%;
      }
      padding: 5%;
      margin: auto;
      background-color: var(--accent-hotpink);
      border-radius: var(--basic-border-radius);
      min-width: 35%;
      color: var(--main-font);
      font-family: var(--font-copy);
      font-weight: bold;
      text-transform: uppercase;
      margin-bottom: 10%;
    }
  }
}
